<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="signup">
<form class="auth" action="/auth/sign-up" method="POST">
  <h1>Create a new account!</h1>
  <label for="username"></label>
  <input class="signuphover" type="text" maxlength="12" name="username" id="username" placeholder="Username"/>
  <br>
  <label for="password"></label>
  <input class="signuphover" type="password" name="password" id="password" placeholder="Password" />
  <br>
  <label for="confirmPassword"></label>
  <input class="signuphover" type="password" name="confirmPassword" id="confirmpassword" placeholder="Confirm Password"/>
  <br>
  <button class="btnsignup" type="submit">Sign up</button>
</form>
</section>

<%- include('../partials/footer') %>