<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/images/MusicNoteFavicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Jersey+10&family=Matemasie&display=swap');
    </style>
  <title>Musical Genius</title>
  <link rel="shortcut icon" href="../assets/MusicNote.png" type="image/x-icon">
  <h1 class="title">MUSICAL GENIUS</H1>