</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/songs">Songs</a>
      <a href="/users">Profiles</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/Songs">Songs</a>
      <a href="/users">Profiles</a>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </nav>