<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<h1>Welcome to Musical Genius</h1>
<p>The Perfect Place to showcase your favorite songs</p>

<%- include('./partials/footer') %>
