body {
  background-image: url("../assets/sunset.jpg");
  background-color: #8B85C1;
  padding: 50px;
}


a {
  color: rgb(20, 55, 195);
  margin-top: 10px
}

.auth {
  display: flex;
  flex-direction: column;
  margin-top: -10%;
}

.signUp {
  border: solid;
  width: 38vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
}

.signIn {
  border: solid;
  width: 30vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
}

.friend {
  text-align: center;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 30px;
  border-color: black;
  border: solid;
}

nav > a {
  margin: 8px 24px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.person {
  width: 125px;
  height: 200px;
  background-color: black;
  margin: 5px;
  border-radius: 5px 30px 5px 30px;
  box-shadow: 10px 10px 5px lightblue;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  height: 30px;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.genius {
  margin-left: 15%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


span {
  display: inline-block;
  font-size: smaller;
}

.top-songs {
  color: white;
}

#song-form {
  width: 200px;
  height: 300px;
  border-width: 250px;
  border-color: black;
  border: solid;
  text-align: center;
  margin-left: 3%;
  border-radius: 5%;
  background-color: whitesmoke;
}

p {
  text-align: center;
}

.All {
  text-shadow: 0 2px #B3C5D7;
  font-weight: bold;
}

.store {
  background: #f6f6f6;
  width: 82vw;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  border-color: black;
  border: solid;
}

.scroll {
  width: 82vw;
  background: #f6f6f6;
  height: 40vw;
  overflow: hidden;
  overflow-y: scroll;
}

.scrollMe {
  width: 82vw;
  background: #f6f6f6;
  height: 20vw;
  overflow: hidden;
  overflow-y: scroll;
}

.content {
  font-size: 20px;
  padding: 10px;
}

.mySongs {
  background: #f6f6f6;
  width: 82vw;
  margin: 5% auto;
  padding: 20px;
  border-radius: 30px;
  border-color: black;
  border: solid;
}

.showView {
  width: 82vw;
  height: 50vw;
  border: solid;
  border-radius: 20px;
  margin: auto;
  margin-top: 4%;
  display: flex;
  background-color: #7A6F9B;
}

.songCard {
  width: 32vw;
  height: 30vw;
  border: solid;
  position: absolute;
  margin-left: 5%;
  margin-top: 15%;
  text-align: center;
  border-radius: 20%;
  background-color: whitesmoke;
}

.comments {
  width: 32vw;
  height: 40vw;
  border: solid;
  position: absolute;
  margin-left: 45%;
  margin-top: 5%;
  text-align: center;
  background-color: whitesmoke;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
}

.profileSongView {
  width: 32vw;
  border: solid;
  height: 10vh;
  font-size: 40px;
  border-radius: 5%;
  margin-left: 6%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.editSong {
  width: 200px;
  height: 300px;
  border-width: 250px;
  border-color: black;
  border: solid;
  margin-top: 5%;
  margin-left: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.btn {
  box-shadow: 5px 3px 5px lightblue;
}


.myComments {
  width: 50vw;
  background: #f6f6f6;
  height: 27vw;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  margin-top: -27%;
  margin-left: 30%;
  border-radius: 5%;
  border-color: black;
  border: solid;
}

.scrollMe2 {
  width: 50vw;
  background: #f6f6f6;
  height: 27vw;
  overflow: hidden;
  overflow-y: scroll;
}

.content2 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.theirWords {
  width: 20vw;
  background: #f6f6f6;
  height: 27vw;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  border-radius: 5%;
}

.scrollMe3 {
  width: 20vw;
  background: #f6f6f6;
  height: 27vw;
  overflow: hidden;
  overflow-y: scroll;
}

.content3 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.theirSongs {
  width: 60vw;
  background: #f6f6f6;
  height: 27vw;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  border-radius: 5%;
  margin-top: 0%;
  margin-left: 30%;
}

.scrollMe4 {
  width: 60vw;
  background: #f6f6f6;
  height: 27vw;
  overflow: hidden;
  overflow-y: scroll;
}

.content4 {
  font-size: 20px;
  padding: 10px;
}