body {
  padding: 50px;
  background-image: url('../assets/sunset.jpg');
  background-size: cover;
}


a {
  color: whitesmoke;
  margin-top: 10px
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.asongs {
  color: black;
}

.asongs:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #ed565b;
  border: solid;
}

.auth {
  display: flex;
  flex-direction: column;
  margin-top: -10%;
}

.signup {
  border: solid;
  width: 38vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
  background-color: whitesmoke;
}

.signin {
  border: solid;
  width: 30vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
  background-color: whitesmoke;
}

.friend {
  text-align: center;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 30px;
  border-color: black;
  border: solid;
  border-radius: 5%;
}

nav > a {
  margin: 8px 24px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usernamesong:hover {
  text-decoration: underline;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}



h2 {
  text-align: center;
  height: 30px;

}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  background-color: #ed565b;
  box-shadow: 10px 10px 5px #13262F;
  margin: 15px;
  padding: 1%;
  border-radius: 5px 30px 5px 30px;
}

.genius {
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 200px;
  overflow-x: hidden;
  overflow-x: scroll;
}


span {
  display: inline-block;
  font-size: smaller;
}

.top-songs {
  color: white;
}

#song-form {
  width: 200px;
  height: 300px;
  border-width: 250px;
  border-color: black;
  border: solid;
  text-align: center;
  margin-left: 3%;
  border-radius: 5%;
  background-color: whitesmoke;
  box-shadow: 10px 10px 5px #FCB0B3;
}

p {
  text-align: center;
}

.index {
  text-shadow: 0 2px #13262F;
  font-weight: bold;
  color: #ed565b;
}

.all {
  text-shadow: 0 2px #13262F;
  font-weight: bold;
  color: #ed565b;
  text-decoration: underline #13262F;
  margin-top: 10%;
  text-align: center;
}

.title {
  text-shadow: 0 2px #13262F;
  font-weight: bold;
  color: #ed565b;
  text-align: center;
}

.profilename {
    text-shadow: 0 2px #13262F;
    font-weight: bold;
    color: #ed565b;
    text-decoration: underline #13262F;
}

.store {
  background-color: #ed565b;
  box-shadow: 10px 10px 5px #13262F;
  width: 82vw;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  border-color: black;
  border: solid;
}

.scroll {
  width: 82vw;
  background: #C8D3D5;
  height: 40vw;
  overflow: hidden;
  overflow-y: scroll;
}

.scrollme {
  width: 82vw;
  /* background: #f6f6f6; */
  height: 20vw;
  overflow: hidden;
  overflow-y: scroll;
}

.content {
  font-size: 20px;
  padding: 10px;
  color: black;
  margin: auto;
}

.mysongs {
  /* background: #f6f6f6; */
  width: 82vw;
  margin: 5% auto;
  padding: 20px;
  border-radius: 30px;
  border-color: black;
  border: solid;
  box-shadow: 10px 10px 5px #FCB0B3;
}

.showview {
  width: 82vw;
  height: 50vw;
  border: solid;
  border-radius: 20px;
  margin: auto;
  margin-top: 4%;
  display: flex;
  box-shadow: 10px 10px 5px #FCECC9;
}

.songcard {
  width: 32vw;
  height: 30vw;
  border: solid;
  position: absolute;
  margin-left: 5%;
  margin-top: 15%;
  text-align: center;
  border-radius: 20%;
  background-color: whitesmoke;
}

.comments {
  width: 32vw;
  height: 42vw;
  border: solid;
  position: absolute;
  margin-left: 45%;
  margin-top:4%;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5%;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
}

.profilesongview {
  width: 32vw;
  border: solid;
  height: 10vh;
  font-size: 40px;
  border-radius: 5%;
  margin-left: 6%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.editsong {
  width: 200px;
  height: 300px;
  border-width: 250px;
  border-color: black;
  border: solid;
  margin-top: 5%;
  margin-left: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.btn {
  box-shadow: 5px 3px 5px lightblue;
}


.mycomments {
  width: 55vw;
  background: #f6f6f6;
  height: 30vw;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  margin-top: -30%;
  margin-left: 30%;
  border-radius: 5%;
  border-color: black;
  border: solid;
  box-shadow: 10px 10px 5px #FCB0B3;
}

.content2 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.theirwords {
  width: 20vw;
  background: #f6f6f6;
  height: 30vw;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  border-radius: 5%;
  border: solid;
}

.scrollme3 {
  width: 20vw;
  background: #f6f6f6;
  height: 27vw;
  overflow: hidden;
  overflow-y: scroll;
}

.content3 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.theirsongs {
  width: 82vw;
  background-image: url('../assets/NightSky.webp');
  background-size: cover;
  height: 30vw;
  overflow-x: scroll;
  border-radius: 5%;
  margin-top: 5%;
  margin-left: 2%;
  border: solid;
}

.eachsong {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollme4 > .eachsong {
  margin-top: 5%;
  width: 380vw;
  height: 25vw;
  width: fit-content;
}


.btnsignup {
  background-color: #13262F;
  color: white;
  border-radius: 10%/50%;
}

.btnsignin {
  background-color: #13262F;
  color: white;
  border-radius: 10%/50%;
}

#password {
  border-radius: 10%/10%;
}

#username {
  border-radius: 10%/10%;
}
#confirmpassword {
  border-radius: 10%/10%;
}

.navbar {
  background-image: url('../assets/NightSky.webp');
  background-size: cover;
  margin-left: 0%;
  width: 95%;
}

.minicusername {
  font-size: 90%;
  position: absolute;
  margin-left: 8%;
}

.minicusername:hover {
  font-size: 90%;
  position: absolute;
  margin-left: 8%;
  text-decoration: underline;
}

.miniccontent {
  font-size: 150%;
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
}

.create {
  position: absolute;
  margin-left: 32%;
  margin-top: 1.5%;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 60%;
}

.comments > .minicomments {
  width: 100%;
  height: 100%;
}

.btnaddsong {
  background-color: #13262F;
  color: white;
  border-radius: 10%/50%;
}

.recordimage {
  background-image: url('../assets/Records.jpg');
  background-size: cover;
  height: 500px;
  border-radius: 10%;
  border: solid;
}

.signuphover:hover {
  border: 1mm ridge #FCB0B3;
}


.songtag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 5px;
  width: 350px;
  margin: 10px;
  height: 130px;
  padding: 10px;
  box-shadow: 10px 10px 5px #FCB0B3;
  font-family: 'Jersey 10';
  color: whitesmoke;
  font-size: 30px;
  background-image: url('../assets/sunset.jpg');
  background-size: cover;
}

.topmood {
  position: relative;
}

.toprank > .songtag {
  position: absolute;
  font-size: 30px;
}